* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card {
  display: flex;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}